
/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #31e2e2;
  color: #2deee4;
}

/* Cabeçalho */
header {
  background-color: #4c93af;
  color: rgb(14, 111, 190);
  padding: 2rem 1rem;
  text-align: center;
}

/* Navegação */
nav {
  background-color: #000000;
  text-align: center;
  padding: 1rem;
}

nav a {
  color: rgb(7, 7, 7);
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

/* Conteúdo principal */
.container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

/* Seções */
.section {
  margin-bottom: 2rem;
}

.section h2 {
  color: #3012b6;
  margin-bottom: 1rem;
}

.section p {
  line-height: 1.6;
}

/* Espaço do aluno */
.custom-area {
  background-color: #4ed111;
  border: 2px dashed #36bd15;
  padding: 1rem;
  text-align: center;
  color: #777;
  margin-top: 1rem;
}

/* Rodapé */
footer {
  background-color: #2e7031;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
